<router-outlet></router-outlet>

<!-- The content below is only a placeholder and can be replaced.
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <div class="navbar-brand">
          OMNI~PAID
        </div>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/heroes" data-toggle="modal" data-target="#loginModal">
              <i class="material-icons">lock</i> Loging
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="material-icons">
                person_add
              </i> Sign up
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="material-icons">
                people_outline
              </i> Abourt us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/transaction">
              <i class="material-icons">
                monetization_on
              </i>send a money
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/pay.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>OMNI~PAID</h1>
            <h2 class="title text-center ">Easy way to send money across the world</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
  
          <router-outlet></router-outlet>
  
  
      </div>
    </div>
  </div>
  
  <footer class="footer footer-default">
    <div class="container">
  
      <div class="copyright float-right">
        &copy;
        2019, created by Skylabase
      </div>
    </div>
  </footer>
  
  <div class="modal fade" id="loginModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document">
      <div class="modal-content">
        <div class="card card-signup card-plain">
          <div class="modal-header">
            <div class="card-header card-header-success text-center">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="material-icons">clear</i>
              </button>
  
              <h4 class="card-title">Log in</h4>
              <div class="social-line">
                <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                  <i class="fa fa-twitter"></i>
                  <div class="ripple-container"></div>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <form class="form" method="" action="">
              <p class="description text-center">Or Be Classical</p>
              <div class="card-body">
  
                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="material-icons">
                          account_circle
                          </i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="User name">
                  </div>
                </div>
  
                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="material-icons">lock</i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="Password">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer justify-content-center">
            <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
 -->
