<div class="container">
    <mat-card class="item">
        <h3><mat-icon color="primary" >dashboard</mat-icon>Dashboard</h3>
        <p>The admin can add, edit and delete mobilemoney fee depending on the range</p>
        <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
        
    </mat-card>
    <mat-card class="item">
            <h3><mat-icon color="primary">monetization_on</mat-icon>Configure Mobilemoney Fee</h3>
            <p>The admin can add, edit and delete mobilemoney fee depending on the range</p>
            <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
            
    </mat-card>
    <mat-card class="item">
            <h3><mat-icon color="primary">library_books</mat-icon>View Transactions</h3>
            <p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or less.</p>
            <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
    </mat-card>
    <mat-card class="item">
            <h3><mat-icon color="primary">content_paste</mat-icon>View Configurations</h3>
            <p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or less.</p>
            <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
    </mat-card>

</div>